#footer{
    background-color: black;
    color: white;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    .footer__c1{
        >a{
            margin: 10px 7px;
            display: inline-block;
            >svg{
                font-size: 50px;
            }
        }
    }
    .footer__c2{
        >a>svg{
            color: white;
            font-size: 50px;
        }
    }
}